<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</div>


<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
</div>


<!-- if day clicked, modal show app-timesheet-day component -->
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->
<!-- <app-timesheet-day #modalContent [selectedDate]='selectedDate'></app-timesheet-day> -->


<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h2 class="modal-title">Add Project Hours for {{selectedDate}}</h2>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project</th>
            <th>Hours</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>
              <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
            </td>

            <td>
              <input class="form-control" type="number" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4 class="">Total Hours for {{selectedDate}}</h4>

    <h4 class="float-right">45 Hours</h4>

  </div>

  <div class="modal-footer">

    <button class="btn btn-primary float-right ml-4">
      Submit </button>

    <button class="btn btn-primary float-right ">
      Save </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Close
    </button>
  </div>

</ng-template>