<div class="calendar">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
    </div>
  </div>


  <br />
  <mat-card-content>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
    </div>
  </mat-card-content>
</div>
<!-- if day clicked, modal show app-timesheet-day component -->
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<!-- -----MODAL CONTENT----- -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-form [selectedDate]="selectedDate" [projectsByDate]="projectsByDate"></app-form>
  <div class="modal-footer">

    <button type="button" mat-stroked-button color="primary" (click)="close()">
      Close
    </button>
  </div>

</ng-template>