<mat-grid-list cols="12">

    <!-- <mat-grid-tile colspan="12">
        <div *ngIf="auth.user$ | async as user; else login">
            <pre>{{ user | json }} </pre>

        </div>
    </mat-grid-tile> -->

    <mat-grid-tile colspan="6" rowspan="2">
        <h4>Add/Edit Hours</h4>
        <app-timesheet-add-edit></app-timesheet-add-edit>
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="2">
        <h4>History</h4>
        <app-timesheet-history></app-timesheet-history>
    </mat-grid-tile>

</mat-grid-list>