<div class="container">
    <div class="row text-center form-group">
        <div class="col-md-12 ">



            <h2>Velvet Hammer Branding</h2>
            <h2>Time Sheet Prototype</h2>
            <h2>GOOGLE FIRE BASE SIGN IN</h2>


            <div *ngIf="auth.user$ | async as user; else login">
                {{user | json}}
                <hr>
                <button class="button" (click)="auth.signOut()" mat-raised-button color="primary">Sign Out</button>
            </div>
            <ng-template #login class="text-center">
                <button class="button" (click)="auth.googleSignIn()" mat-raised-button color="primary">Log In With
                    Google Fire Base</button>
                <br> <br>

                <div class="g-signin2 login-button" data-onsuccess="onSignIn"></div>
            </ng-template>



            <ng-template #login class="text-center">
                <button class="button" (click)="auth.googleSignIn()" mat-raised-button color="primary">Log In
                    With
                    Google Fire Base</button>
                <br> <br>

                <div class="g-signin2 login-button" data-onsuccess="onSignIn"></div>
            </ng-template>


        </div>
    </div>
</div>