.header {
    font-size: 30px;
}
.box {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    text-align:center;
    margin: 5px;
    float: left;
    padding: 20px;
    h2{
        padding-bottom: 20px;
    };
    a{
        float: right;
        text-decoration: underline;
    }

}
.row {
    height: 200px
}
