<div class="container">
    <h1 class="header">History</h1>
    <div class="row">
        <span class="box">
            <h2>Project 1</h2>
            <h1>50</h1>
            <h3>Hours Worked</h3>
            <a>See complete history</a>
        </span>
        <span class="box">
            <h2>Project 2</h2>
            <h1>50</h1>
            <h3>Hours Worked</h3>
            <a>See complete history</a>
        </span>
        <span class="box">
            <h2>Project 3</h2>
            <h1>50</h1>
            <h3>Hours Worked</h3>
            <a>See complete history</a>
        </span>
    </div>
</div>