<div class="modal-header">
    <h2 class="modal-title">Add Project Hours for {{selectedDate}}</h2>
</div>

<div class="modal-body">

    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w-75">Project</th>
                    <th class="w-50">Hours</th>
                </tr>
            </thead>

            <!-- if there are projects on this date -->
            <tbody *ngIf="projectsByDate.length > 0; else elseBlock">
                <tr *ngFor="let project of projects">
                    <td>
                        <!-- Show Project Name -->
                        <!-- <input type="number" class="form-control" [(ngModel)]="project.project_name" #projectInput /> -->
                        <p>{{project.project_name}}</p>
                    </td>
                    <td>
                        <input class="form-control" type="number" [(ngModel)]="project.timesheet.hours" placeholder="0"
                            #hoursInput>
                    </td>
                    <td>
                        <button mat-button color="primary" (click)="saveDayHours()">
                            Save </button>
                    </td>
                    <td>
                        <button mat-button color="primary" (click)="submitDayHours()">
                            Submit </button>
                    </td>
                </tr>
            </tbody>



            <!-- if no projects on this date, add dropdown of projects list here -->
            <ng-template #elseBlock>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Enter Project Name" #projectInput />
                        </td>
                        <td>
                            <input class="form-control" type="number" placeholder="0" #hoursInput>
                        </td>
                        <td>
                            <button mat-button color="primary" (click)="saveDayHours()">
                                Save </button>
                        </td>
                        <td>
                            <button mat-button color="primary" (click)="submitDayHours()">
                                Submit </button>
                        </td>
                    </tr>
                </tbody>
            </ng-template>

        </table>
    </div>

    <h4 class="float-left">Total Hours for {{selectedDate}}</h4>

    <h3 class="float-right mb-3">{{totalHours}}</h3>

</div>