<div class="modal-header">
    <h2 class="modal-title">Add Project Hours for {{selectedDate}}</h2>
</div>

<div class="modal-body">

    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w-75">Project</th>
                    <th class="w-50">Hours</th>
                </tr>
            </thead>

            <!-- if there are projects on this date -->
            <tbody *ngIf="projectsByDate.length > 0; else elseBlock">
                <tr *ngFor="let project of projects">
                    <td>
                        <!-- Show Project Name -->
                        <!-- <input type="number" class="form-control" [(ngModel)]="project.project_name" #projectInput /> -->
                        <!-- <h2>{{project.project_name}}</h2> -->

                        <div *ngIf="project.project_name;then content else other_content">here is ignored</div>
                        <ng-template #content>
                            <h2>{{project.project_name}}</h2>
                        </ng-template>
                        <ng-template #other_content>
                            <select matNativeControl required>
                                <option *ngFor="let project of userProjects" value="project.id">{{project.name}}
                                </option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <input class="form-control" type="number" [(ngModel)]="project.timesheet.hours">
                    </td>
                    <td>
                        <button mat-button color="primary"
                            (click)="saveDayHours($event, project.timesheet.projects_id, project.timesheet.hours)">
                            Save </button>
                    </td>
                    <td>
                        <button mat-button color="primary">
                            Submit </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-button color="primary" (click)="addRow()">
                            Add A project </button>
                    </td>
                </tr>
            </tbody>



            <!-- if no projects on this date, add dropdown of projects list here -->
            <ng-template #elseBlock>
                <tbody>
                    <tr>
                        <td>
                            <!-- <input type="text" class="form-control" placeholder="Enter Project Name" #projectInput /> -->
                            <select matNativeControl required [(ngModel)]="projectid" (ngModelChange)="toNumber()">
                                <option *ngFor="let project of userProjects" [ngvalue]="project.id">{{project.name}}
                                    <!-- <input type="number" class="form-control" [(ngModel)]="project.project_name" #projectInput /> -->
                                </option>

                            </select>
                            {{projectid}}
                        </td>
                        <td>
                            <input class="form-control" type="number" placeholder="0" #hoursInput>
                        </td>
                        <td>
                            <!-- the numner 5 is hard coded, this is where the number of hours selected should go -->
                            <button mat-button color="primary" (click)="saveDayHours($event, projectid, 5)">
                                Save </button>
                        </td>
                        <td>
                            <button mat-button color="primary">
                                Submit </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button mat-button color="primary">
                                Add A project </button>
                        </td>
                    </tr>
                </tbody>
            </ng-template>

        </table>
    </div>

    <h4 class="float-left">Total Hours for {{selectedDate}}</h4>

    <h3 class="float-right mb-3">{{totalHours}}</h3>

</div>